.cabecera{
    background: white;
    .icono{
        font-size: 30px;
        color: var(--color-primario);
    }
}

.cabecera-titulo{
    color: var(--color-secundario);
    text-align: center;
    font-size: 16px;
    margin-left: -50px;
}