<app-header titulo="Descripción"></app-header>

<ion-content>
  <ion-row class="row-grid">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title class="title">{{pokemon.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="{{pokemon.img}}" class="img"></ion-img>
        <ion-row class="row" style="margin-top: 50px;">
          <ion-col>
            <h2 class="bold">Estadisticas:</h2>
            <hr>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let stat of pokemon.stats" class="row">
          <ion-col size="10"><ion-label class="bold">{{stat.stat.name}}</ion-label></ion-col>
          <ion-col size="2"><ion-label class="bold">{{stat.base_stat}}</ion-label></ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
